%footer.footer
  .container
    .upper-foot
      .row
        .col-xs-6.col-sm-4
          %h2 Contact detail
          %address
            %i.fa.fa-phone
            Phone. (123) 456-7890
            %br
            %i.fa.fa-envelope
            E-mail.
            %a{:href => "mailto:#"} first.last@example.com
        .col-xs-6.col-sm-4
          %h2 Useful links
          %ul.list-unstyled
            %li
              %a{:href => "#"} Terms and Conditions
            %li
              %a{:href => "#"} Privacy Policy
        .col-xs-6.col-sm-4
          %ul.list-inline.social-list
            %li
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
            %li
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
            %li
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Google+"}
                %i.fa.fa-google-plus
            %li
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
            %li
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "RSS"}
                %i.fa.fa-rss
          %p
            Copyright © 
            = Date.today.year
            Tupri. Designed by
            %a{:href => "http://pixelgeeklab.com/"} PixelGeekLab
            %br
              All rights reserved.
    / .below-foot
    /   .row
    /     .col-xs-6.copyrights
    /     .col-xs-6.text-right
    /       %ul.list-inline.social-list
    /         %li
    /           %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
    /             %i.fa.fa-facebook
    /         %li
    /           %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
    /             %i.fa.fa-twitter
    /         %li
    /           %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Google+"}
    /             %i.fa.fa-google-plus
    /         %li
    /           %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Pinterest"}
    /             %i.fa.fa-pinterest
    /         %li
    /           %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "RSS"}
    /             %i.fa.fa-rss