%header
  #top
    .container
      %p.pull-left.text-note Free Shipping on all orders over 300 L.E
      %ul.nav.nav-pills.nav-top.navbar-right

        %li.dropdown.menu-shop
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-shopping-cart
            
          .dropdown-menu
            %h3 Recently added item(s)
            %ul.list-unstyled.list-thumbs-pro
              %li.product
                .product-thumb-info
                  %a.product-remove{:href => "#"}
                    %i.fa.fa-trash-o
                  .product-thumb-info-image
                    %a{:href => "shop-product-detail1.html"}
                      %img{:alt => "", :src => "/content/products/product-1.jpg", :width => "60"}/
                  .product-thumb-info-content
                    %h4
                      %a{:href => "shop-product-detail2.html"} Denim shirt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Jackets
                    %span.price 29.99 USD
              %li.product
                .product-thumb-info
                  %a.product-remove{:href => "#"}
                    %i.fa.fa-trash-o
                  .product-thumb-info-image
                    %a{:href => "shop-product-detail1.html"}
                      %img{:alt => "", :src => "/content/products/product-2.jpg", :width => "60"}/
                  .product-thumb-info-content
                    %h4
                      %a{:href => "shop-product-detail2.html"} Poplin shirt with fine pleated bands
                    %span.item-cat
                      %small
                        %a{:href => "#"} Jackets
                    %span.price 29.99 USD
              %li.product
                .product-thumb-info
                  %a.product-remove{:href => "#"}
                    %i.fa.fa-trash-o
                  .product-thumb-info-image
                    %a{:href => "shop-product-detail1.html"}
                      %img{:alt => "", :src => "/content/products/product-3.jpg", :width => "60"}/
                  .product-thumb-info-content
                    %h4
                      %a{:href => "shop-product-detail2.html"} Contrasting shirt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Jackets
                    %span.price 29.99 USD
            %ul.list-inline.cart-subtotals.text-right
              %li.cart-subtotal
                %strong Subtotal
              %li.price
                %span.amount
                  %strong $431
            .cart-buttons.text-right
              %button.btn.btn-white View Cart
              %button.btn.btn-primary Checkout
  %nav.navbar.navbar-default.navbar-main.navbar-main-slide{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.logo{:href => "index.html"}
          %img{:alt => "Flatize", :src => "/logo.png"}/
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Home

          %li.dropdown.megamenu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Shop
            .dropdown-menu
              .mega-menu-content
                .row
                  .col-md-4.hidden-sm.hidden-xs.menu-column
                    %h3 Trends
                    %ul.list-unstyled.sub-menu.list-thumbs-pro
                      %li.product
                        .product-thumb-info
                          .product-thumb-info-image
                            %a{:href => "shop-product-detail1.html"}
                              %img{:alt => "", :src => "/content/products/product-1.jpg", :width => "60"}/
                          .product-thumb-info-content
                            %h4
                              %a{:href => "shop-product-detail2.html"} Denim shirt
                            %span.item-cat
                              %small
                                %a{:href => "#"} Jackets
                            %span.price 29.99 USD
                      %li.product
                        .product-thumb-info
                          .product-thumb-info-image
                            %a{:href => "shop-product-detail1.html"}
                              %img{:alt => "", :src => "/content/products/product-2.jpg", :width => "60"}/
                          .product-thumb-info-content
                            %h4
                              %a{:href => "shop-product-detail2.html"} Poplin shirt with fine pleated bands
                            %span.item-cat
                              %small
                                %a{:href => "#"} Jackets
                            %span.price 29.99 USD
                      %li.product
                        .product-thumb-info
                          .product-thumb-info-image
                            %a{:href => "shop-product-detail1.html"}
                              %img{:alt => "", :src => "/content/products/product-3.jpg", :width => "60"}/
                          .product-thumb-info-content
                            %h4
                              %a{:href => "shop-product-detail2.html"} Contrasting shirt
                            %span.item-cat
                              %small
                                %a{:href => "#"} Jackets
                            %span.price 29.99 USD
                  
                  
                  .col-md-4.hidden-sm.hidden-xs.menu-column
                    %h3 Explore new collection
                    %ul.list-unstyled.sub-menu.list-md-pro
                      %li.product
                        .product-thumb-info
                          .product-thumb-info-image
                            %a{:href => "shop-product-detail1.html"}
                              %img.img-responsive{:alt => "", :src => "/content/products/ad-1.png", :width => "330"}/
                          .product-thumb-info-content
                            %h4
                              %a{:href => "shop-product-detail2.html"} Men’s Fashion and Style
                            %p Whatever you’re looking for, be it the latest fashion trends, cool outfit ideas or new ways to wear your favourite pieces, we’ve got all the style inspiration you need.

              

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Contact
            %ul.dropdown-menu
              %li
                %a{:href => "page-contact1.html"} Contact Version 1
              %li
                %a{:href => "page-contact2.html"} Contact Version 2
      / /.nav-collapse
    / /.container-fluid